# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ApiVersioningSolution.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Bartek\RiderProjects\ApiVersioningSolution\.idea\.idea.ApiVersioningSolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
